<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
    <title>{% if title -%}\{{ site_name }} | \{{ title }}{%- else %}\{{ site_name }}{%- endif %}</title>
    <meta name="description" content="\{{ description if description else '' }}">
    {% block meta_extra %}{% endblock %}
    {% include 'shared/icons.html' %}

	<!-- build:css(.) /static/assets/headsup/styles/vendors.css -->
	<link rel="stylesheet" href="/node_modules/alertifyjs/build/css/alertify.css"/>
	<link rel="stylesheet" href="/bower_components/fullpage.js/jquery.fullPage.css"/>
    <!-- endbuild -->

	<!-- build:css(.) /static/assets/headsup/styles/main.css -->
    <link rel="stylesheet" href="/static/assets/headsup/styles/base/main.css"/>
	<link rel="stylesheet" href="/static/assets/lib/styles/alertify.css"/>
    <!-- endbuild -->

	{% block custom_css %}{% endblock %}
	{% include 'shared/ga.html' %}

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

	<meta content="authenticity_token" name="csrf-param">
    <meta name="csrf-token" content="\{{ csrf_token() }}">
</head>
<body>
	{% block full_page %}
    <div class="container-wrap">
        <div class="push-header"></div>
        <!-- header -->
        {% block page_header_block %}{% include 'main/layout/header.html' %}{% endblock %}
        <!-- end header -->
        {% block container %}
        <div class="container">
            {% block wide_container %}
            <div class="row">
                <div class="col-xs-12  col-md-8">{% block content %}{% endblock %}</div>
                <div class="col-xs-12  col-md-4">{% block sidebar %}{% endblock %}</div>
            </div>
            {% endblock %}
        </div>
        {% endblock %}
        <div class="push"></div>
    </div>
    <!-- footer -->
    {% block page_footer_block %}{% include 'main/layout/footer.html' %}{% endblock %}
    <!-- end footer -->
	{% endblock %}

	{% include 'shared/message.html' %}
	<script>
	window.loadFont =  function() {
		var families = ['Ubuntu:400,700', 'Ubuntu+Condensed'];
		WebFont.load({google: {families: families}});
	};
	</script>
	<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js" onload="loadFont()"></script>
	{{> main-js}}
    {% block custom_js %}{% endblock %}
</body>
</html>
