<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>{% if title -%}\{{ site_name }} | \{{ title }}{%- else %}\{{ site_name }}{%- endif %}</title>
	<meta name="description" content="\{{ description if description else '' }}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% include 'shared/icons.html' %}

	<!-- build:css(app) /static/assets/admin/styles/main.css -->
	<link rel="stylesheet" href="/static/assets/admin/styles/base/main.css">
	<link rel="stylesheet" href="/static/assets/admin/styles/lib/font-awesome.css">
	<link rel="stylesheet" href="/static/lib/node_modules/alertifyjs/build/css/alertify.css"/>
	<link rel="stylesheet" href="/static/lib/node_modules/alertifyjs/build/css/themes/semantic.css"/>
	<!-- endbuild -->

	{% block custom_css %}{% endblock %}

	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<meta name="csrf-token" content="\{{ csrf_token() }}">
</head>
<body>
	{% set content_class = content_class|default('') %}
	{% set container_class = container_class|default('') %}
	{% set show_banner = show_banner|default(True) %}

	<!-- navbar -->
	{% include 'admin/layout/navbar.html' %}
	<!-- end navbar -->
	<!-- sidebar -->
	{% if show_banner %}{% include 'admin/layout/sidebar.html' %}{% endif %}
	<!-- end sidebar -->
	<!-- container -->
	<div class="content \{{ content_class }}">
		{% block stats %}{% endblock %}
		<div id="pad-wrapper" class="\{{ container_class }}">
			{% block main %}{% endblock %}
		</div>
	</div>
	<!-- end container -->

	<!-- build:js(app) /static/assets/admin/scripts/main.js -->
	<script src="/static/lib/bower_components/jquery/dist/jquery.js"></script>
	<script src="/static/lib/bower_components/sass-bootstrap/dist/js/bootstrap.js"></script>
	<script src="/static/lib/node_modules/alertifyjs/build/alertify.js"></script>
	<script src="/static/assets/admin/scripts/base/plugins/theme.js"></script>
	<script src="/static/assets/admin/scripts/base/plugins/jquery_ujs.js"></script>
	<script src="/static/assets/admin/scripts/base/plugins/upload.js"></script>

    <script src="/static/assets/admin/scripts/base/plugins/notifications.js" charset="utf-8"></script>
	<!-- endbuild -->

	{% include 'shared/message.html' %}
	{% block custom_js %}{% endblock %}
	<!-- end scripts -->
</body>
</html>
