<!DOCTYPE html>
<html lang="en" class="\{{ page_class|default('') }}">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>{% if title -%}\{{ site_name }} | \{{ title }}{%- else %}\{{ site_name }}{%- endif %}</title>
	<meta name="description" content="\{{ description if description else '' }}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% include 'shared/icons.html' %}

	<!-- build:css(app) /static/assets/admin/styles/main.css -->
	<link rel="stylesheet" href="/static/assets/admin/styles/base/main.css">
	<link rel="stylesheet" href="/static/assets/admin/styles/lib/font-awesome.css">
	<link rel="stylesheet" href="/static/lib/node_modules/alertifyjs/build/css/alertify.css"/>
	<link rel="stylesheet" href="/static/assets/plugins/styles/alertify.css"/>
	<!-- endbuild -->

	{% block custom_css %}{% endblock %}

	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<meta name="csrf-token" content="\{{ csrf_token() }}">
</head>
<body>
	{% block wide_container_main %}
	<!-- navbar -->
	{% include 'admin/layout/navbar.html' %}
	<!-- end navbar -->
	<!-- sidebar -->
	{% include 'admin/layout/sidebar.html' %}
	<!-- end sidebar -->
	<!-- container -->
	<div class="content \{{ content_class|default('') }}">
		{% block stats %}{% endblock %}
		<div id="pad-wrapper" class="\{{ container_class|default('') }}">
			{% block main %}{% endblock %}
		</div>
	</div>
	<!-- end container -->
	{% endblock %}

	{{> main-js}}

	{% include 'shared/message.html' %}
	{% block custom_js %}{% endblock %}
</body>
</html>
