<!DOCTYPE html>
<html lang="en" class="\{{ page_class|default('') }}">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
	<title>{% if title -%}\{{ site_name }} | \{{ title }}{%- else %}\{{ site_name }}{%- endif %}</title>
	<meta name="description" content="\{{ description if description else '' }}">
	{% include 'shared/icons.html' %}

	<!-- build:css(.) /static/assets/admin/styles/vendors.css -->
	<link rel="stylesheet" href="/node_modules/alertifyjs/build/css/alertify.css"/>
	<!-- endbuild -->

	<!-- build:css(.) /static/assets/admin/styles/main.css -->
	<link rel="stylesheet" href="/static/assets/admin/styles/base/main.css">
	<link rel="stylesheet" href="/static/assets/lib/styles/alertify.css"/>
	<!-- endbuild -->

	{% block custom_css %}{% endblock %}

	{% include 'shared/ga.html' %}

	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<meta content="authenticity_token" name="csrf-param">
	<meta name="csrf-token" content="\{{ csrf_token() }}">
</head>
<body>
	{% block wide_container_main %}
	<!-- navbar -->
	{% include 'admin/layout/navbar.html' %}
	<!-- end navbar -->
	<!-- sidebar -->
	{% include 'admin/layout/sidebar.html' %}
	<!-- end sidebar -->
	<!-- container -->
	<div class="content \{{ content_class|default('') }}">
		{% block stats %}{% endblock %}
		<div id="pad-wrapper" class="\{{ container_class|default('') }}">
			{% block main %}{% endblock %}
		</div>
	</div>
	<!-- end container -->
	{% endblock %}

	{% include 'shared/message.html' %}
	<script>
	window.loadFont =  function() {
		var families = ['Open+Sans:300,400,700'];
		WebFont.load({google: {families: families}});
	};
	</script>
	<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js" onload="loadFont()"></script>
	{{> main-js}}
    {% block custom_js %}{% endblock %}
</body>
</html>
